<%- include ('../system/header') %>

    <h1>Feladatok</h1>
    <h3>Feladat törlése</h3>
    <h5>Biztosan törlöd az alábbi feladatot?</h5>
    <%- include ('../system/message') %>
        <form action="/tasks/delete/<%= task.id %>" method="post">

            <div class="form-floating mb-3">
                <input type="text" class="form-control" id="title" placeholder="" name="title"
                    value="<%= session.body ? session.body.title : task.title %>" disabled>
                <label for="title">Feladat megnevezése</label>
            </div>

            <div class="form-floating mb-3">
                <textarea class="form-control" placeholder="" id="description" name="description"
                    disabled><%= session.body ? session.body.description : task.description %></textarea>
                <label for="description">Leírás</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="start" placeholder="" name="start"
                    value="<%= session.body ? session.body.start : task.start %>" disabled>
                <label for="start">Kezdés</label>
            </div>

            <div class="form-floating mb-3">
                <input type="date" class="form-control" id="end" placeholder="" name="end"
                    value="<%= session.body ? session.body.end : task.end %>" disabled>
                <label for="end">Befejezés</label>
            </div>
            <input type="submit" value="Törlés" name="open" class="btn btn-outline-danger mt-3">


        </form>
        <a href="/tasks" class="btn btn-outline-secondary me-1 my-3">Vissza</a>

        <%- include ('../system/footer') %>